.cancaneus{
	position: absolute;
	left: 220px;
	top: 203px;
	z-index: -1;
}
.cuboid{
	position: absolute;
	left: 251px;
	top: 177px;

}
.cuniforms{
	position: absolute;
	left: 209px;
	top: 149px;
	z-index: 2;

}
.distalphalanges{
	position: absolute;
	left:245px;
	z-index: 2;
}
.footnavicular{
	position: absolute;
	left: 200px;
	top: 180px;
	z-index: 3;

}
.metetarsi{
	position: absolute;
	left: 200px;
	top: 69px;

}
.middlephalanges{
	position: absolute;
	left: 210px;
	top: 1px;

}
.proximalphalanges{
	position: absolute;
	left: 201px;
	top: 25px;

}
.talus{
	position: absolute;
	left: 210px;
	top: 200px;

}



.capitate{
	position: absolute;
	top: 220px;
	left: 338px;
}
.hamate{
	position: absolute;
	top: 225px;
	left: 366px;
	z-index: 2;
}
.lunate{
	position: absolute;
	top: 258px;
	left: 357px;
}
.metacarpals{
	position: absolute;
	top: 125px;
	left: 270px;
	z-index: -1;
}
.navicular{
	position: absolute;
	top: 246px;
	left: 318px;
	z-index: -1;
}
.phalanges{
	position: absolute;
	left: 245px;
	z-index: -2;
}
.pisiform{
	position: absolute;
	top: 252px;
	left: 394px;
}
.trapezium{
	position: absolute;
	top: 220px;
	left: 300px;;
}
.trapezoid{
	position: absolute;
	top: 222px;
	left: 323px;
}
.triquetrum{
	position: absolute;
	top: 238px;
	left: 377px;;
}
.leftarm{
	position: absolute;
	top: 271px;
	left: 304px;
}
.rightarm{
	position: absolute;
	top: 271px;
	left: 377px;
}
.highlighted{
	display: none;
}
.wrong{
	display: none;
}